.button {
    min-height: 40px;
    line-height: 1;
    padding: 0 24px;
    border-radius: 6px;
    border: 1px solid transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all .5s;
    white-space: nowrap;
    @include text-xs;

    &--primary{
        background: var(--brand-primary-main);
        color: var(--black);
        border-color: var(--brand-primary-main);
        &:hover {
            border-color: var(--brand-primary-main);
            color: var(--black);
            background: var(--brand-primary-main);
        }
    }

    &--gray{
        background: var(--gray-100);
        color: var(--black);
        border-color: var(--gray-100);
        &:hover {
            background: var(--gray-100);
            color: var(--black);
            background: var(--gray-100);
        }
    }

    &:disabled {
        opacity: .8;
        cursor: not-allowed;
    }
}